
*/.terraform
*.xml
*.txt
*.swo
*.swp
config.sh
.terraform
*.lock.hcl
*.lock.info
terraform.tfstate
terraform.tfstate.backup
plan.out
state.json
.vscode
src/vars/local.tfvars
kubefiles/
terraform.tfstate.d/
